.serviceCard{
    width: 100%;
    
}

.serviceCard__img{ 
    position: relative;
    height: 400px;
    cursor: pointer;
    object-fit: cover;
}

.service__img-border{
    border-right: 20px solid var(--color-pink);
    border-bottom: 20px solid var(--color-pink);
    width: 95%;
    height: 95%;
    position: absolute;
    right: -20px;
    bottom: -20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
}
.active{
    visibility: visible;
  opacity: 1;
}
.serviceCard__img img{
    width: 100%;
    height: 100%;
}


.serviceCard__title{
    margin-top: 20px;
}
.serviceCard__title a{
    color: var(--color-pink);
    font-size: 22px;
}
.serviceCard__title a:hover{
    text-decoration: none;
}
.serviceCard__desc{
    color: #252837;
    font-size: 13px;
}